* {
  box-sizing: border-box;
}

body {
  font-family: 'IM Fell English', serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  height: 100%;
  margin: 0;
}
h1, h2, h3 {
  font-family: 'Charmonman', cursive;
}
h1 {
  font-size: 48px;
  font-weight: 600;
}
h2 {
  font-size: 38px;
  margin-top: 20px;
  margin-bottom: 30px;
}
h1:after, h2:after {
  border-bottom: 1px solid black;
  content: '';
  display: block;
  margin-left: 20%;
  width: 60%;
}
h3 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 26px;
}
p {
  font-size: 18px;
}
a {
  color: #444;
  text-decoration: none;
}
a:hover {
  color: darkred;
}
/*------------- header -------------*/
/* header {
  padding: 12% 0;
} */
.hero-image {
  background-image: url('../images/sakura.jpg');
  width: 100%;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-text {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  z-index: 2;
  width: 80%;
  margin: 0 auto;
  /* padding: 20px; */
  text-align: center;
}
.hero-sub {
  font-family: 'IM Fell English', serif;
  font-weight: 100;
  margin-bottom: 20px;
}
/*------------- nav -------------*/
.Navbar,
footer {
  background-color: #aaa;
}
.Navbar {
  position: sticky;
  top: 0;
  display: flex;
  padding: 16px;
  z-index: 100;
}  
.Navbar__Link-brand {
  font-weight: 900;
  font-size: 22px;
} 
.Navbar__Link {
  padding-left: 10px;
}
.Navbar__Items {
  display: flex;
}
.Navbar__Items--right {
  margin-left: auto;
}
.Navbar__Link-toggle {
  display: none;
}
/* .Navbar__Items .Navbar__Link:hover {
  background-color: black;
  color: white;
} */
@media only screen and (max-width: 700px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
.Navbar__Items {
    display:none;
  }
.Navbar__Items--right {
    margin-left:0;
  }
.Navbar__ToggleShow {
    display: flex;
  }
.Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
   } 
}
.scroll {
  border: 1px solid black;
  padding: 5px;
  border-radius: 7px;
}
.scroll:hover {
  border: 1px solid darkred;
}
/*------------- main -------------*/
main {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}
.section {
  margin-top: 50px;
  border: 1px solid black;
}
section:nth-child(even) {
  background-color: #ddd;
}
#contact {
  margin-right: 10px;
}
#testimonials {
  margin-bottom: 50px;
}
/*---------- background ----------*/
#background {
  margin-top: 50px;
}
.background-header-wrapper {
  padding: 15px;
}
.background-header-border {
  padding: 10px;
  border: 1px solid black;
}
.background-header-values {
  font-size: 18px;
}
.background-header-values:after {
  border-bottom: 1px solid black;
  content: '';
  display: block;
  margin-left: 20%;
  width: 60%;
}
.background-header-keys {
  font-size: 12px;
}
/* .bghn {
  font-size: 22px;
} */
@media only screen and (max-width: 700px) {
  .bgh {
    flex-basis: 50%;
  }
}
.me-wrapper {
  max-height: 400px;
  height: 100%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 60%;
  position: relative;
  display: inline-block;
}
.me-wrapper .meTwo {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.me-wrapper:hover .meTwo {
  display: inline;
}
.me {
  border-radius: 60%;
}
/* .me {
  display: block;
  max-height: 400px;
  height: 100%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 60%;
} */
.bio-wrapper {
  margin: 15px;
}
p {
  text-align: left;
}
/*---------- contact ----------*/
.cont-link {
  border: 0;
}
.cont-link:hover {
  border: 0;
}
.contact-type {
  text-align: left;
  margin-top: 30px;
}
.contact-info {
  margin-top: 5px;
  margin-bottom: 0;
}
.cont-col {
  flex-basis: 50%;
}
/*---------- proficiencies ----------*/
.logos {
  display: block;
  max-height: 100px;
  height: 100%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
.prof-col {
  flex-basis: 33.33%;
}
/* @media only screen and (max-width: 700px) {
  .prof-col {
    flex-basis: 50%;
  }
} */
/*---------- exploits ----------*/
.exploit-proj-wrapper {
  padding: 20px;
  padding-top: 60px;
}
.exploit-screenshots {
  display: block;
  max-width: 400px;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}
.exploit-proj-desc-wrapper {
  padding-left: 10px;
  padding-right: 10px;
}
.exploit-logos {
  display: block;
  max-height: 60px;
  height: 100%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
.ex-col {
  flex-basis: 18%;
}
.exploit-links {
  margin-bottom: 20px;
}
.exploit-links:after {
  border-bottom: 1px solid black;
  content: '';
  display: block;
  margin-left: 30%;
  width: 40%;
}
/*---------- testimonials ----------*/
.test-wrapper {
  margin: 20px;
  margin-top: 0px;
}
.test-first::before {
  border-top: 1px solid black;
  content: '';
  display: block;
  margin-left: 10%;
  width: 80%;
}
.test-wrapper:after {
  border-bottom: 1px solid black;
  content: '';
  display: block;
  margin-left: 10%;
  width: 80%;
}
.quote, .quoted {
  display: inline-block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.quote {
  margin-top: 10px;
  margin-bottom: 10px;
}
.quoted {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 14px;
}
.test-odd {
  text-align: left;
}
.test-even {
  text-align: right;
}
/*---------- footer ----------*/
.footer {
  bottom: 0;
  width: 100%;
  padding: 10px;

} 
.foot-col {
  flex-basis: 33%;
}
.footer-message {
  margin-top: 10px;
}